@model Parceiro

<div class="mb-3">
    <label asp-for="RazaoSocial"></label>
    <input asp-for="RazaoSocial" class="form-control" />
</div>
<div class="mb-3">
    <label asp-for="NomeFantasia"></label>
    <input asp-for="NomeFantasia" class="form-control" />
</div>
<div class="mb-3">
    <label asp-for="Cnpj"></label>
    <input asp-for="Cnpj" class="form-control" />
</div>
