@model Parceiro

@{
    ViewData["Title"] = "Editar";
}

<h1>Atualizar o parceiro: @Model.RazaoSocial</h1>

<form asp-action="editar">
    <partial name="_Form" />
    <input asp-for="Id" />    
    <button texto="Editar"></button>
</form>