@model TipoDoacao

<div class="mb-3">
    <label asp-for="Nome"></label>
    <input asp-for="Nome" class="form-control" />
</div>
<div class="mb-3">
    <label asp-for="Pontos"></label>
    <input asp-for="Pontos" class="form-control" />
</div>