@model Cupom

<div class="mb-3">
    <label asp-for="Quantidade"></label>
    <input asp-for="Quantidade" class="form-control" />
</div>
<div class="mb-3">
    <label asp-for="ValorDesconto"></label>
    <input asp-for="ValorDesconto" class="form-control" />
</div>
<div class="mb-3">
    <label asp-for="CodigoDesconto"></label>
    <input asp-for="CodigoDesconto" class="form-control" />
</div>
