@{
    ViewData["Title"] = "Cadastrar";
}

<h1>Cadastrar Doador</h1>

<alert mensagem="@TempData["msg"]"></alert>

<form asp-action="cadastrar">

    <partial name="_Form" />

    <div class="mb-3">
        <button></button>
    </div>

</form>