@model Doador

@{
    ViewData["Title"] = "Editar";
}

<h1>Atualizar o cupom: @Model.Nome</h1>

<form asp-action="editar">
    <partial name="_Form" />
    <input asp-for="DoadorId" />
    <button texto="Editar"></button>
</form>