@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">GiveNWin</h1>
    <p>
        A GiveNWin é uma plataforma de incentivo a doações de sangue, plasma, plaquetas, medula, órgãos, 
        tecidos, cabelo, leite materno, medicamentos e EPIs. Na nossa aplicação, teremos o doador, o receptor e 
        o parceiro. O doador, como diz o nome, é o usuário que fará as doações. Ele terá visualização sobre suas 
        doações, cupons disponíveis para uso, e os seus dados. O receptor se trata do estabelecimento, seja ele 
        hospital, hemocentro, ou qualquer outro local de coleta de doações, que receberá a doação do usuário. 
        O receptor é o responsável pelo cadastro da doação no aplicativo, e, além da página de cadastro de 
        doação, ele poderá ver as doações já recebidas, e os seus dados próprios. Além deles, temos também o 
        parceiro. Este, se trata de empresas que, apoiando o nosso projeto, disponibilizarão cupons para os 
        nossos doadores usarem de acordo com suas pontuações. Como por exemplo podemos ter um cupom 
        da faculdade FIAP, oferecendo a usuários com 1000 pontos, o desconto na prova do seu vestibular, ou 
        uma farmácia oferecendo um cupom de 5% de desconto à usuários com 5000 pontos.
    <p>
        Para cada doação realizada, o doador receberá uma pontuação. São elas: SANGUE – 1000 pontos,
        PLASMA - 3000 pontos, PLAQUETAS – 3000 pontos, MEDULA – 8000 pontos, ÓRGÃOS – 100.000 pontos,
        TECIDOS – 100.000, CABELO – 500 pontos, LEITE MATERNO – 3000 pontos, EQUIPAMENTOS MÉDICOS –
        800 pontos, MEDICAMENTOS – 100 pontos, EPI’s – 50 PONTOS. Após a doação ser registrada, o
        aplicativo contabilizará os pontos em até 1 hora, e eles já estarão disponíveis para troca por cupons. A
        definição de quantos pontos valerá um cupom é feita em comum acordo com a empresa parceira, para
        que seja uma oferta justa para todos. Para que estejamos de acordo com a lei, o doador que se dirigir ao
        local e tentar, genuinamente realizar a doação, também ganhará pontos, mesmo que sua doação não
        seja válida por motivos de saúde ou outros motivos legais.

    </p>
    <p> 
        Enquanto sabemos que o ideal seria que cada doador fizesse as suas doações por livre e espontânea 
        vontade, sabemos também que a informação é uma chave primordial quando se trata de saúde, e 
        queremos que a doação se torne uma atividade regular na vida das pessoas, e não só um ato realizado 
        em um momento de necessidade. Enquanto doarmos somente quando alguém próximo de nós precisar, 
        as outras pessoas que talvez não tenha tantas pessoas com quem contar, ficarão sem. Para os que já 
        realizam doações regularmente, seria um esơmulo a mais, pois além de fazer o bem e salvar vidas, o
        mesmo poderia aproveitar descontos e promoções. A doação é um ato de amor. Doe com propósito, 
        ganhe com benefícios!
    </p>
</div>
