@{
    ViewData["Title"] = "Cadastrar";
}

<h1>Cadastrar Doação</h1>

<alert mensagem="@TempData["msg"]"></alert>

<form asp-action="cadastrar">

    <partial name="_Form" />

    <div class="mb-3 pt-3">
        <custom-button></custom-button>
    </div>

</form>
