@model Doacao

@{
    ViewData["Title"] = "Editar";
}

<h1>Atualizar a doação do: @Model.Id</h1>

<form asp-action="editar">
    <partial name="_Form" />
    <input asp-for="Id" />
    <custom-button texto="Editar"></custom-button>
</form>